div{
  border: 1px solid grey;
  margin: 5rem auto;
  width: 80%;
  border-radius:15px;
  background-color: rgba(255, 255, 255, 0.447);

}
mat-form-field{
  width: 50%;
  margin: 0 auto;
  display:block;
}
h2{
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  text-transform: uppercase;
}
button{

  width: 100%;
}

