<div>
  <h2>Registrazione</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Utente</mat-label>
      <input ngModel name="utente" matInput placeholder="nome utente">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" ngModel name="password" matInput placeholder="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input type="email" ngModel name="email" matInput placeholder="email">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary">Registrati</button>
  </form>
</div>
