/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url(https://img.freepik.com/premium-vector/white-abstract-background-3d-paper-style_23-2148390818.jpg?w=1800);
}
